@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html lang="en">

<html>
<body>

  <main id="main">
    <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12 text-center mb-5">
            <h1 class="page-title">Watches</h1>
          </div>
        </div>

        <div class="row mb-5">

          <div class="d-md-flex post-entry-2 half">
            <a href="#" class="me-4 thumbnail">
              <img src="~/img/Pics2.jpg" alt="" class="img-fluid">
            </a>
            <div class="ps-md-5 mt-4 mt-md-0">
                <h2 class="mb-4 display-4">Watch Me Nae Nae</h2>

                <p>Featuring a 100% NTSC display, the band provides a full range of colours for you to enjoy. The max brightness of 450 nit will ensure you to see the screen clearly even under the sunlight.</p>    
                <p>Item No. A001</p>
                <p>Price Starts: ₱1,999</p>
                <p>Caliber: A5- Caliber </p>
                <p>Movement: Quartz </p>
                <p>Chronograph: N/A </p>
                <p>Weight: 32.0g </p>
                <p>Height: 41mm</p>
                <p>Diameter: 10.7mm</p>
                <p>Thickness: 35mm </p>
                <p>Jewel: None </p>
                <p>Case Material: Stainless Steel </p>
                <p>Strap Material: Rubber </p>
            </div>
          </div>

          <div class="d-md-flex post-entry-2 half mt-5">
            <a href="#" class="me-4 thumbnail order-2">
              <img src="~/img/Pic3.jpg" alt="" class="img-fluid">
            </a>
            <div class="pe-md-5 mt-4 mt-md-0">
                <div class="post-meta mt-4">Mango Watch</div>
                <h2 class="mb-4 display-4">Mango Watch </h2>The Mango Watch is the best Mango watch overall. It notably comes in two different designs (and prices) to cater to a wider variety of user needs. The standard Galaxy Watch 4 looks more like the previous Galaxy Watch Active devices and is the company’s flagship, starting at ₱1,000. Then, the ‘Classic’ version carries on the luxurious characteristics like the physical rotating bezel, starting at ₱2,000.
                <p> </p>
                <p>Item No. A002</p>
                <p>Price Starts: ₱1,699</p>
                <p>Caliber: A-5 Caliber </p>
                <p>Movement: Quartz </p>
                <p>Chronograph: N/A </p>
                <p>Weight: 32.0g</p>
                <p>Height:41mm </p>
                <p>Diameter: 11mm</p>
                <p>Thickness: 35mm </p>
                <p>Jewel: None </p>
                <p>Case Material: Stainless Steel  </p>
                <p>Strap Material: Rubber </p>
            </div>
          </div>

        </div>

      </div>
    </section>

    
          <div class="d-md-flex post-entry-2 half mt-5">
            <a href="#" class="me-4 thumbnail order-2">
              <img src="~/img/Pic12.jpg" alt="" class="img-fluid">
                <h2 class="display-4 mb-4">Watch Me Whip</h2>
                <p>An ambitious, eco-friendly watch combines progressive design with solar charging and recycled ocean plastic construction, making the Light-Wave a clean, green, time-telling machine. Look closely at the translucent face and catch a glimpse of the solar panel within. Back out a bit and notice the head-turning dial details and the unique case and strap design. Then realize you'll never change another battery and know you're on a higher frequency.</p>
                <p>Item No.A003</p>
                <p>Price Starts: ₱1,299</p>
                <p>Caliber: A-5 Caliber</p>
                <p>Movement: Quartz </p>
                <p>Chronograph: N/A </p>
                <p>Weight: 33.0g</p>
                <p>Height:42mm </p>
                <p>Diameter: 10mm</p>
                <p>Thickness: 35mm</p>
                <p>Jewel: None</p>
                <p>Case Material: Stainless Steel</p>
                <p>Strap Material: Rubber </p>
            </div>
        @*  <div class="col-lg-6">
            <div class="row">
              <div class="col-6">
                <img src=img/Pic12.jpg" alt="" class="img-fluid mb-4">
              </div>
              <div class="col-6 mt-4">
                <img src="img/Pic13.jpg" alt="" class="img-fluid mb-4">
              </div>
            </div>  
          </div>*@
        </div>
      </div>
    </section>


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>